.top-bar{
    background: rgb(248, 247, 247);
    text-align: right;
    padding: 8px;
    font-size: 14px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.menu{
    display: flex;
    gap: 25px;
    list-style: none;
}
.hero{
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: black;
}
.hero img{
    width: 100%;
    display: block;
}
h1{
    font-size:48px;
    line-height: 1.2;
}
.trend{
    color:rgb(9, 9, 9);
    letter-spacing:2px;
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif;
}
.hero-text h1{
    font: size 48px;
    line-height: 1.1;
    margin: 10px 0;
}
.price{
    font-size: 16px;
    margin-bottom:15px;
}
.hero-text button{
    background-color: rgb(95, 120, 205);
    padding: 10px 22px;
    border: none;
    cursor: pointer;
}
.hero-text button:hover{
    background: rgb(145, 181, 209);
}
.hero-img{
    position: relative;
}
.offer{
    position: absolute;
    top:20px;
    right: 20px;
    @media (max width: 768px;){
        .hero-text h1{
            font-size: 28px;
        }
        .hero-text{
            left: 5%;
        }
    }     
    
}